* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./assets/table.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3.5rem;
    color: white;
}



h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 40px;
    color: goldenrod;
}