* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./assets/table.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3.5rem;
    color: white;
    gap: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button{
    color: #016f32;
    font-size: 2rem;
    padding: 10px 10px;
    background: goldenrod;
    border: 1px solid black;
    border-radius: 10px;
}

#message-el {
    font-style: italic;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 4.5rem;
    color: goldenrod;
}